* {
    text-align: center;
}

#input_burger {
    opacity: 1px;
}

body {
    background: lightblue url("https://image.freepik.com/free-vector/yellow-striped-background-with-a-big-burger_23-2147626113.jpg");
}

h2 {
    padding-bottom: 5px;
}

li {
    padding: 5px;
    margin: 5px;
    background: lightblue;
    text-align: left;
}

.burgername {
    font-family: 'Pacifico', cursive;
    font-size: 18px;
    font-weight:bold;
}


.toprow {
    background: lightblue;
    border:solid 2px black;
    border-radius: 25px;

}

label {
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 24px;
    color: #000;
    font-family: 'Plaster', cursive;
}


.label {
    font-weight: bold;
    font-size: 16px;
}

.create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
}

.form-group {
    margin-bottom: 5px;
}

form {
    padding:10px 20px;
}

#bur {
    text-align: left;
}

h1, h2 {
    font-family: 'Plaster', cursive;
}